<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>User-Account</title>
  <link rel="stylesheet" href="/public/output.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
</head>

<body>
    <div class="container">
        <div class="card" style="">
            <div class="card-body" style="position: relative;">
                {{!-- <img src="{{user.coverPhoto}}"
                    style="position: absolute; width: 100%; height: 9rem; overflow: hidden;"
                    class="background card-img-top" alt="No cover photo">

                <div class="profilePhoto" style="display: flex; flex-direction: column; position: relative;">

                    <div class="pp-button" style="width: 20px;">
                        <img src="{{user.profilePhoto}}"
                            style="width: 6rem; border-color: white; border: 3px; z-index: 4; padding: 5px; position: absolute;"
                            class="card-img-top" alt="No profile photo">
                    </div> --}}

                    <p class="card-text text-success" style="z-index: 2; margin-top: 9rem;">{{college.Collegename}}</p>
                    <p class="card-text text-success" style="z-index: 2;">{{college.location}}</p>
                    <p class="card-text text-success" style="z-index: 2;">{{college.establishedYear}}</p>

                </div>



            </div>
        </div>

        <div class="bio card">
            <div class="card-body">
                <p class="card-text">Bio</p>
            </div>
        </div>
        <div class="posts">
            <h2>Posts</h2>

            <div id="carouselExample" class="carousel slide">
                <div class="carousel-inner">
                    {{#each students}}
                    {{!-- <a href="/user/{{student.id}}"> --}}
                        <div class="card" style="width: 18rem;">
                            <div class="card-body">
                                <h5 class="card-title">{{students.name}}</h5>
                                <h6 class="card-subtitle mb-2 text-body-secondary">{{students.username}}</h6>
                                <a href="#" class="card-link">Add Friend</a>
                            </div>
                        </div>
                    {{!-- </a> --}}
                    {{/each}}
                </div>
                <h2>Students</h2>
                <div id="carouselExample" class="carousel slide">
                    <div class="carousel-inner">
                        {{#each students.posts}}
                        {{!-- <a href="/user/{{student.id}}"> --}}
                            <div class="card" style="width: 18rem;">
                                <div class="card-body">
                                    <h5 class="card-title">{{students.posts.title}}</h5>
                                    <h6 class="card-subtitle mb-2 text-body-secondary">{{students.posts.content}}</h6>
                                    <img src={{students.posts.images}} alt="">
                                    <p>{{students.posts}}</p>
                                    <a href="{{students.posts.authorId}}">{{students.posts.authorUsername}}</a>
                                    <a href="#" class="card-link">Add Friend</a>
                                </div>
                            </div>
                        {{!-- </a> --}}
                        {{/each}}
                    </div>
                    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample"
                        data-bs-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Previous</span>
                    </button>
                    <button class="carousel-control-next" type="button" data-bs-target="#carouselExample"
                        data-bs-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Next</span>
                    </button>
                </div>
            </div>

        </div>

        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
            crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js"
            integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r"
            crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.min.js"
            integrity="sha384-BBtl+eGJRgqQAUMxJ7pMwbEyER4l1g+O15P+16Ep7Q9Q+zqX6gSbd85u4mG4QzX+"
            crossorigin="anonymous"></script>

</body>

</html>